<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CV HMH</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="cv.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container-fluid">
      <h1 class="titulo">CV Héctor Menduíña Hermelo</h1>
        <ul class="list-inline">
            <a href="#collapseInformacionPersonal">Personal Info</a>
        </ul>
    </header>

    <div id="page1" class="page container">
      <div class="row encabezado">
        <div class="col-xs-3">
          <img class="logo_europass" src="img/europass.png" alt="logo europass">
        </div>
        <div class="col-xs-6">
            <h3>Curriculum Vitae</h3>
        </div>
        <div class="col-xs-3">  
            <h3>Héctor Menduíña Hermelo</h3>
        </div>
      </div>

      <div class="row texto_carta">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p>Hello, my name is Héctor Menduíña Ermelo and would like to work as a front-end developer. For this purpose, I append my CV to give an idea of my current skills.</p>
          <p>These last three years I complimented my formation as a developer of cross-platform applications, web developer. In previous years I worked in the field of graphics arts but I needed any change in my live.</p>
          <p>Finally, I decided on the development web, which is where I invest all my efforts right now. I learn something new every day related to the web and I study something almost every day. I love programming, It was my best decision.</p>
         <p>By my knowledge, enthusiasm, willingness to learn and improve I think I could contribute my work to get objectives of the company.</p>
          <p>Attentively,</p>
          <p>Héctor Menduíña Hermelo</p>
        </div>
      </div>
    </div>

    <div id="page2" class="page container">
      <div class="row encabezado">
        <div class="col-xs-3">
          <img class="logo_europass" src="img/europass.png" alt="logo europass">
        </div>
        <div class="col-xs-6">
            <h3>Curriculum Vitae</h3>
        </div>
        <div class="col-xs-3">
            <h3>Héctor Menduíña Hermelo</h3>
            
        </div>
      </div>  
        
    <!-- ACORDEON -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <!-- Panel Info Personal -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingInformacionPersonal">
          <h4 class="panel-title titulo_apartado">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInformacionPersonal" aria-expanded="true" aria-controls="collapseInformacionPersonal">
                
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                    <h3 class="titulo_apartado">Personal Information</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>

            </a>
          </h4>
        </div>
        <div id="collapseInformacionPersonal" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInformacionPersonal">
          <div class="panel-body">
              <!-- Información Personal -->
              <div id="info_personal" class="row">
                <div class="col-xs-12 col-sm-5">
                  <img id="foto_cv" src="..." alt="..." class="img-thumbnail">
                </div>
                <div class="col-xs-12 col-sm-7 datos_personales">
                  <h1>Héctor Menduíña Hermelo</h1>
                  <ul class="lista_datos">
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Nº 20, Montemogos, Bueu, 36937, Spain</h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+34 697 746 814</h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">hector@hectormhermelo.com</a></h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">kotehector@gmail.com</a></h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><a href="#">teamtreehouse.com/hectormenduia</a></h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><a href="#">bitbucket.com/kotehector</a></h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><a href="#">github.com/kotehector</a></h4>
                    </li>
                    <li class="item_lista_datos">
                      <h4 class="lista_final">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Male
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>24/06/1987
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Spanish
                      </h4>
                    </li>
                  </ul>

                </div>
              </div>
              <!-- fin Información personal --> 
          </div>
        </div>
      </div>
      <!-- fin panel Info Personal -->
        
      <!-- Panel Preferred Job -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingPreferredJob">
          <h4 class="panel-title titulo_apartado">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePreferredJob" aria-expanded="true" aria-controls="collapsePreferredJob">
              
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                      <h3 class="titulo_apartado">Preferred Job</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>


            </a>
          </h4>
        </div>
        <div id="collapsePreferredJob" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPreferredJob">
          <div class="panel-body">
            <!-- Preferred Job -->
            <div id="preferred_job">
                <h4>Front-end Developer | Web Developer</h4>
            </div>
            <!-- fin Preferred Job -->
            
          </div>
        </div>
      </div>
      <!-- fin Panel Preferred Job -->

      <!-- Panel Experiencia Laboral -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingExperienciaLaboral">
          <h4 class="panel-title titulo_apartado">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseExperienciaLaboral" aria-expanded="true" aria-controls="collapseExperienciaLaboral">
              
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                      <h3 class="titulo_apartado">Work Experience</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>

            </a>
          </h4>
        </div>
        <div id="collapseExperienciaLaboral" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingExperienciaLaboral">
          <div class="panel-body">
            <!-- Work Experience -->
            <div id="work_experience">
            <ul class="lista_experiencia_laboral">
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">05/2015 - Now</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Front-end Developer - Proyect: Public Administrations</h4>
                    <h5 class="empresa">Indra Software Labs A Coruña, Spain.<a class="web_empresa" href="#">www.indracompany.com</a></h5>
                    <p class="despricion_puesto">
                      CMS Liferay. Responsive Web Design, Bootstrap, HTML5, CSS3,  JavaScript, jQuery, SVN, Velocity, Eclipse, Java Server Pages (JSP), Sass, Java.
                    </p>
                    <h6 class="sector_empresa">Web Service Software</h6>    
                  </div> 
                  </div>    
              </li>
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">02/2015 - 05/2015</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Front-end Developer</h4>
                    <h5 class="empresa">AciertaWeb Vigo, Spain.<a class="web_empresa" href="http://aciertaweb.es/">aciertaweb.es</a></h5>
                    <p class="despricion_puesto">
                      Wordpress CMS. Responsive web design, Bootstrap, HTML5 Microsites, CSS3 and JS, online shops (woo-commerce) Seo, jQuery, MySql, PHP.
                    </p>
                    <h6 class="sector_empresa">Web Service Software</h6>    
                  </div> 
                  </div>    
              </li>
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">08/2014 - Now</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Web Developer (freelance)</h4>
                    <h5 class="empresa">hectormhermelo Galicia, Spain.<a class="web_empresa" href="#">www.hectormhermelo.com</a><a class="web_empresa" href="#">www.hmhweb.es</a></h5>
                    <p class="despricion_puesto">
                      Wordpress theme creation from 0. Responsive web design, Bootstrap, HTML5 Microsites, CSS3 and JS, online shops (Prestashop, woo-commerce) Seo, Git, jQuery, AngularJs, Sass, PHP, MySql.
                    </p>
                    <h6 class="sector_empresa">Web Service Software</h6>    
                  </div> 
                  </div>    
              </li>
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">03/2014 - 06/ 2014</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Front-end Developer</h4>
                    <h5 class="empresa">Holistic Group, Malta.<a class="web_empresa" href="#">www.holistic.com.mt</a></h5>
                    <p class="despricion_puesto">
                      Adaptation of themes for Wordpress HTML5, CSS3 and JS, photo retouching, installing and configuring plugins. Photoshop.
                    </p>
                    <h6 class="sector_empresa">Web Service Software</h6>    
                  </div> 
                  </div>    
              </li>
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">2011 - 2012</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Store Manager Copy Shop</h4>
                    <h5 class="empresa">Vipon S.L Pontevedra, Spain.<a class="web_empresa" href="#"></a></h5>
                    <p class="despricion_puesto">
                      All kinds of activities related to administration, stock and cleaning of facilities.
                    </p>
                    <h6 class="sector_empresa">Graphics Arts Digital Print</h6>    
                  </div> 
                  </div>    
              </li>
              <li class="item_lista_experiencia">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 fecha_trabajo">
                      <h1 class="titulo_apartado">2007 - 2010</h1>
                    </div>
                  <div class="col-xs-8 col-sm-9 trabajo">
                    <h4 class="puesto">Offset Machine Operator</h4>
                    <h5 class="empresa">Crown S.L.U Vigo, Spain.<a class="web_empresa" href="#">www.crowncork.com/</a></h5>
                    <p class="despricion_puesto">
                      All activities related to the adjustment and operation of an offset machine.
                    </p>
                    <h6 class="sector_empresa">Graphics Arts Press</h6>    
                  </div> 
                  </div>    
              </li>
            </ul>
            </div>
            <!-- fin Work Experience -->
          </div>
        </div>
      </div>
      <!-- fin Panel Experiencia Laboral -->
        
      <!-- Panel Educación -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEducacion">
          <h4 class="panel-title titulo_apartado">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEducacion" aria-expanded="true" aria-controls="collapsePreferredEducacion">
              
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                      <h3 class="titulo_apartado">Education and Training</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>

            </a>
          </h4>
        </div>
        <div id="collapseEducacion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEducacion">
          <div class="panel-body">
              <!-- Educación -->
              <div id="education">
                  <ul class="lista_educacion">
                      <li class="item_lista_educacion">
                          <div class="row">
                              <div class="col-xs-4 col-sm-3 fecha_curso">
                                  <h1 class="titulo_apartado">08/2014 - Now</h1>
                              </div>
                              <div class="col-xs-8 col-sm-9 curso">
                                <h4 class="titulo">Treehouse Online School (web design and web development)</h4>
                                <h5 class="colegio">Online.<a class="web_empresa" href="#">www.teamtreehouse.com</a></h5>
                                <ul class="lista_asignaturas_curso">
                                    <li><a href="http://teamtreehouse.com/tracks/php-development">Course Online Shop in native PHP, HTML5, CSS3 and JS</a></li>
                                    <li><a href="http://teamtreehouse.com/tracks/front-end-web-development">Course Front-end Web Development</a></li>
                                    <li><a href="http://teamtreehouse.com/library/framework-basics">Course Frameworks Bootstrap and Foundation</a></li>
                                    <li><a href="http://teamtreehouse.com/library/sass-basics">Course Sass Basics</a></li>
                                    <li><a href="http://teamtreehouse.com/library/ecommerce-with-wordpress-and-woocommerce">Course Online Shop with Wordpress and WooCommerce</a></li>
                                    <li><a href="http://teamtreehouse.com/library/database-foundations">Course Database Foundations</a></li>
                                    <li><a href="http://teamtreehouse.com/library/responsive-layouts">Course Responsive Layouts</a></li>
                                    <li><a href="http://teamtreehouse.com/library/ajax-basics">Course Ajax Basics</a></li>
                                    <li><a href="http://teamtreehouse.com/library/from-bootstrap-to-wordpress">Course "From Bootstrap to Wordpress"</a></li>
                                    <li><a href="http://teamtreehouse.com/library/wordpress-theme-development">Course Wordpress Theme Development</a></li>
                                    <li>and many more...</li>
                                </ul>
                              </div> 
                          </div>    
                      </li>
                      <li class="item_lista_educacion">
                          <div class="row">
                              <div class="col-xs-4 col-sm-3 fecha_curso">
                                  <h1 class="titulo_apartado">07/2014 – 12/2014</h1>
                              </div>
                              <div class="col-xs-8 col-sm-9 curso">
                                <h4 class="titulo">Higher Technician in Enterprise and Resources Planning (ERP) and Customer Relationship Management (CRM)</h4>
                                <h5 class="colegio">Seforma, Vigo, Spain (570h)</h5>
                                <ul class="lista_asignaturas_curso">
                                    <li>Installation of operating systems and data managers ERP and CRM.</li>
                                    <li>Saving data to ERP and CRM systems.</li>
                                    <li>Operating System Management in ERP and CRM systems.</li>
                                    <li>Administration data manager in ERP and CRM.</li>
                                    <li>Security operations in ERP and CRM.</li>
                                    <li>Maintenance and query data.</li>
                                    <li>Software development component ERP.</li>
                                </ul>
                              </div> 
                          </div>    
                      </li>
                      <li class="item_lista_educacion">
                          <div class="row">
                              <div class="col-xs-4 col-sm-3 fecha_curso">
                                  <h1 class="titulo_apartado">2012 – 2014</h1>
                              </div>
                              <div class="col-xs-8 col-sm-9 curso">
                                <h4 class="titulo">Higher Technician in Multi-platform Applications Development</h4>
                                <h5 class="colegio">CFP Daniel Castelao, Vigo, Spain (2000h)<a class="web_empresa" href="http://www.danielcastelao.org/">www.danielcastelao.org/</a></h5>
                                <ul class="lista_asignaturas_curso">
                                    <li>Computer Systems.</li>
                                    <li>Databases.</li>
                                    <li>Programming.</li>
                                    <li>Markup Language and Information Management Systems.</li>
                                    <li>Development Environments.</li>
                                    <li>Data Access.</li>
                                    <li>Interface Development.</li>
                                    <li>Multimedia Programming and Mobile Devices.</li>
                                    <li>Services and Processes Programming.</li>
                                    <li>Business Management Systems.</li>
                                    <li>Project on Multi-platform Applications Development.</li>
                                    <li>Vocational Training and Guidance.</li>
                                    <li>Business and Entrepreneurial Initiative.</li>
                                    <li>On the Job Training.</li>
                                </ul>
                              </div> 
                          </div>    
                      </li>
                      <li class="item_lista_educacion">
                          <div class="row">
                              <div class="col-xs-4 col-sm-3 fecha_curso">
                                  <h1 class="titulo_apartado">2006 – 2007</h1>
                              </div>
                              <div class="col-xs-8 col-sm-9 curso">
                                <h4 class="titulo">Technician in Graphic Printing</h4>
                                <h5 class="colegio">IES Montecelo, Pontevedra, Spain (1000h)</h5>
                                <ul class="lista_asignaturas_curso">
                                    <li>Computer Systems.</li>
                                    <li>Offset Machines Preparation and Setting up.</li>
                                    <li>Offset Print Run Development.</li>
                                    <li>Flexography Printing.</li>
                                    <li>Screen Printing.</li>
                                    <li>Digital Printing.</li>
                                    <li>Preparation of Printing Materials.</li>
                                    <li>Bas Relief Printing.</li>
                                    <li>Professional Training and Guidance.</li>
                                    <li>Business and Entrepreneurial Initiative.</li>
                                    <li>On the Job Training.</li>
                                </ul>
                              </div> 
                          </div>    
                      </li>
                      <li class="item_lista_educacion">
                          <div class="row">
                              <div class="col-xs-4 col-sm-3 fecha_curso">
                                  <h1 class="titulo_apartado">2004 – 2006</h1>
                              </div>
                              <div class="col-xs-8 col-sm-9 curso">
                                <h4 class="titulo">Technician in Digital Prepress</h4>
                                <h5 class="colegio">IES Montecelo, Pontevedra, Spain (2000h)</h5>
                                <ul class="lista_asignaturas_curso">
                                    <li>Word Processing.</li>
                                    <li>Bitmapped Image Processing.</li>
                                    <li>Imposition and Digital Collection of the Printed Form.</li>
                                    <li>Digital Printing.</li>
                                    <li>Page Makeup.</li>
                                    <li>Identification of Materials in Prepress.</li>
                                    <li>Assembly of Electronic Publications.</li>
                                    <li>Vector illustration.</li>
                                    <li>Professional Training and Guidance.</li>
                                    <li>Business and Entrepreneurial Initiative.</li>
                                    <li>On the Job training.</li>
                                </ul>
                              </div> 
                          </div>    
                      </li>
                  </ul>
                </div>
              <!-- fin Educación -->
          </div>
        </div>
      </div>
      <!-- fin Panel Educacion -->
        

        
      <!-- Panel Personal Skills -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingPersonalSkills">
          <h4 class="panel-title titulo_apartado">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePersonalSkills" aria-expanded="true" aria-controls="collapsePersonalSkills">
              
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                      <h3 class="titulo_apartado">Personal Skills</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>

            </a>
          </h4>
        </div>
        <div id="collapsePersonalSkills" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPersonalSkills">
          <div class="panel-body">
            <!-- Personal Skills -->
            <div id="personal_skills">
            <ul class="lista_personal_skills">
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Mother tongue(s)</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                      Galician, Spanish
                    </div>
                  </div> 
                </div>    
                </li>
                <li class="item_lista_personal_skills">
                  <div class="row">
                      <div class="col-xs-4 skill">
                          <h1 class="titulo_apartado">Other language(s)</h1>
                      </div>
                      <div class="col-xs-8">
                        <div class="despricion_skill">                            
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th colspan="2">UNDERSTANDING</th>
                                        <th colspan="2">SPEAKING</th>
                                        <th colspan="2">WRITING</th>
                                    </tr>
                                    <tr>
                                        <td>Listeng</td>
                                        <td>Reading</td>
                                        <td>Spoken Interaction</td>
                                        <td>Spoken Production</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td>B2</td>
                                        <td>B2</td>
                                        <td>B1</td>
                                        <td>B1</td>
                                        <td colspan="2">B2</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                      </div> 
                  </div>    
                </li>
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Communication Skills</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                      Good communication skills acquired during my experience as a store manager.
                    </div>
                  </div> 
                </div>    
                </li>
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Organisational / managerial skills</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                      Leadership (operation administration and management of a small library)
                    </div>
                  </div> 
                </div>    
                </li>
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Job-related skills</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                        <ul>
                            <li>Consistent, punctual, optimistic, responsible.</li>
                            <li>Good capacity for teamwork</li>
                        </ul>
                    </div>
                  </div> 
                </div>    
                </li>
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Computer skills</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                        <ul>
                            <li><span>Programming languages:</span> Java, Sql, PHP, Javascript, Html, CSS.</li>
                            <li><span>Frameworks:</span> Bootstrap, jQuery, Laravel, AngularJs</li>
                            <li><span>Databases:</span> Oracle, MySql, Db4o, Hibernate, Exists</li>
                            <li><span>Good usage of Adobe™:</span> Photoshop, Indesign</li>
                            <li><span>Good usage of software developer:</span> Eclipse, Netbeans, SublimeText</li>
                        </ul>
                    </div>
                  </div> 
                </div>    
                </li>                
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Driving licence</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                        B1
                    </div>
                  </div> 
                </div>    
                </li>
                <li class="item_lista_personal_skills">
                <div class="row">
                  <div class="col-xs-4 skill">
                      <h1 class="titulo_apartado">Attached</h1>
                  </div>
                  <div class="col-xs-8">
                    <div class="despricion_skill">
                        <ul>
                            <li>Language Certificate EOI (Official Language School)</li>
                            <li>Letter Holistic Group Malta</li>
                            <li>Certificate online course "University of New Mexico" from "Web Application Architectures</li>
                        </ul>
                    </div>
                  </div> 
                </div>    
              </ul>
              </div>
              <!-- fin Personal Skills -->
          </div>
        </div>
      </div>
      <!-- fin Panel Personal Skills -->
        

      <!-- Panel Portfolio -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingPortfolio">
          <h4 class="panel-title titulo_apartado">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePortfolio" aria-expanded="true" aria-controls="collapsePortfolio">
              
                <div class="row">
                  <div class="col-xs-5 col-sm-3 text-right">
                      <h3 class="titulo_apartado">Portfolio</h3>
                  </div>
                  <div class="hr col-xs-7 col-sm-9"></div>
                </div>

            </a>
          </h4>
        </div>
        <div id="collapsePortfolio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPortfolio">
          <div class="panel-body">
              <!-- Portfolio -->
              <div id="portfolio">
                <h3>ONLINE: (all pages have Responsive Web Design)</h3>
                <ul class="lista_portfolio">
                    <li><a href="http://hectormhermelo.com/">hectormhermelo.com</a> <span>(wordpress)</span></li>
                    <li><a href="http://bythefest.com/">bythefest.com</a> <span>(wordpress)</span></li>
                    <li><a href="http://jorgejloiragago.com/">jorgejloiragago.com</a> <span>(wordpress)</span></li>
                    <li><a href="http://my3seconds.com/">my3seconds.com</a> <span>(wordpress)</span></li>
                    
                    <li><a href="http://www.xunta.es/portada">xunta.es</a> new version <span>(liferray and bootstrap)</span></li>
                    <li><a href="http://www.exustiza.es/cidadans">exustiza.es</a> new version <span>(liferray and bootstrap)</span></li>
                    <li><a href="galiciactiva.xunta.es">galiciactiva.xunta.es</a> new version <span>(liferray and bootstrap)</span></li>
                    
                    <li><a href="http://www.retubing-ribs.com/es/inicio/">retubing-ribs.com</a> <span>(theme for wordpress from scratch)</span></li>
                    <li><a href="http://haureskolapottoka.com">haureskolapottoka.com</a> <span>(Foundation framework,html5, css3 and js, full responsive)</span></li>
                    <li><a href="http://doctorcan.com">doctorcan.com</a> <span>(Foundation framework,html5, css3 and js, full responsive)</span></li>
                    <li><a href="http://toldosleganes.es">toldosleganes.es</a> <span>(Foundation framework,html5, css3 and js, full responsive)</span></li>
                    
                    <li><a href="http://nectar.com.mt">nectar.com.mt</a> <span>(wordpress in malt)</span></li>
                    <li><a href="http://cg.com.mt">cg.com.mt</a> <span>(wordpress in malt)</span></li>
                    <li><a href="http://vical.holisticrd.com">vical.holisticrd.com</a> <span>(wordpress in malt)</span></li>
                    <li><a href="http://sfsmalta.com">sfsmalta.com</a> <span>(wordpress in malt)</span></li>
                </ul>
              </div>
              <!-- Panel Portfolio -->
          </div>
        </div>
      </div>
      <!-- fin Panel Preferred Job -->

    </div><!-- fin ACCORDEON -->


    </div><!-- fin .page -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>